body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

ul {
  max-width: 30rem;
  display: grid;
  gap: 1rem;
}

li {
  list-style-type: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(239, 239, 239);
}

form {
  display: grid;
  gap: 1.5rem;
  max-width: 30rem;
}

form > div {
  display: grid;
  gap: 0.5rem;
}
